{% extends 'adminnav.html' %}
{% load static %}
<style>

</style>

{% block body %}
<div class="container ">
<div class="row p-4">
<div class="card card body shadow col-sm-2 text-center mx-auto my-2 mybg">
<h2 class="text-primary">5</h2>
<a href="#" class="text-dark fst">pending</a>
</div>
<div class="card card body shadow col-sm-2 text-center mx-auto my-2 mybg">
<h2 class="text-primary">5</h2>
<a href="#" class="text-dark fst">Accepted</a>
</div>
<div class="card card body shadow col-sm-2 text-center mx-auto my-2 mybg">
<h2 class="text-primary">5</h2>
<a href="#" class="text-dark fst">Rejected</a>
</div>
<div class="card card body shadow col-sm-2 text-center mx-auto my-2 mybg ">
<h2 class="text-primary">5</h2>
<a href="#" class="text-dark fst">All Notes</a>
</div>
</div>
</div>

<h1 class="text-center fst text-danger">&copy suraj kumar. This website is property of suraj jee.</h1>

{% endblock body %}