{% extends 'nav.html' %}
{% load static %}
{% block body %}
<div class="container">
<div class="row my-4">
<div class="col-sm-6 mx-auto">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114938.45594803728!2d85.99729346124147!3d25.80928920280429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDQ4JzM1LjAiTiA4NsKwMDQnMDUuMyJF!5e0!3m2!1sen!2sin!4v1629534500784!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="col-sm-5 mx-auto">
<p class="fst fw-bold" >Email ID:surajkumarroy365.5@gmail.com</p>
<p class="fst fw-bold" >Contact No:7011357494</p>
<p class="fst fw-bold" >Adress:Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, maxime!</p>
<p class="fst fw-bold" >Office Hours:10 Am to 4 Am</p>

</div>
</div>

</div>

{% endblock body %}